.heading
{
    text-align: center;
    position: relative;
}
.img-preview {
    top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #000000;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}
.wrapper{
    text-align: center;
}
.upload-label{
    position: absolute;
    text-align: center;
    left: 43%;
    top: 25%;
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.predict
{
    position: absolute;
    text-align: center;
    left: 45.8%;
    top: 75%;
    display: inline-block;
    padding: 12px 30px;
    background: #178ddb;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 75%;
    left: 48%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.foot
{
    text-align: center;
    position: absolute;
    top: 95%;
    left: 43%;
}